---
layout: default
---

<a href="/blog">&laquo; Back to posts list</a>

{% assign reading_time = content | strip_html | number_of_words | divided_by: 180.0 | round %}

{% if reading_time <= 1 %}
  {% assign reading_time = 1 | append: ' min read' %}
{% else %}
  {% assign reading_time = reading_time | append: ' min read' %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}

      ~ {{ reading_time }}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Navigation between posts -->
  <div class="pageNavigation" style="clear: both;">
    {% if page.next %}
      <a class="next" href="{{page.next.url}}">{{ page.next.title }} &raquo;</a>
    {% endif %}
    {% if page.previous %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{ page.previous.title }}</a>
    {% endif %}
  </div>

  <br/> 

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>